<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <script src="/js/scripts.js"></script>

  <title>Agenda</title>
</head>

<body>
  <div class="body-site">
    <div class="header">
      <img src="/images/address-book.png" style="height: 94px;width: 80px; float: left;" alt="Agenda"/>
      <div class="bem-vindo">
        <span>
          Bem-vindo à Agenda Fácil! Cadastre seus contatos de forma simples e acesse de qualquer lugar. Experimente a praticidade agora!
        </span>
      </div>
    </div>
    
    <div class="form-edit box-shadow" style="display: block;">
      <div class="top-form">
        <div><strong>Edição de contatos</strong></div>
        <a href="/">
          <div class="icon-close"></div>
        </a>
      </div>
      <form action="/update/<%= todo.id %>" method="POST">
        <div class="fields-content">
          <input type="text" name="nome" placeholder="Digite o nome" value="<%= todo.nome %>" required="true">
          <input type="text" name="telefone" placeholder="Digite o telefone" value="<%= todo.telefone %>">
          <input type="text" name="email" placeholder="Digite o email" value="<%= todo.email %>">
        </div>
        <div class="footer">
          <input class="button-save" type="submit" value="Salvar"/>
        </div>
      </form>
    </div>   
  </div>

</body>

</html>